<html>
  <head>
    <title>Project Solstice</title>
    <link rel="stylesheet" href="/css/global.css" />
  </head>
  <body>
    <div class="container">
      <h1>About</h1>
      <hr>
      <img src="http://img.geocaching.com/cache/b19d9361-e5f7-4c65-a1fa-2e6ba1edb32e.jpg">
    </div>
  </body>
</html>