<html>
    <head>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/javascript/controllers/Mode.js"></script>
        <script src="/javascript/controllers/ClientGameSession.js"></script>
        
        <script src="/javascript/jquery-1.10.1.js"></script>
        <script src="/javascript/jquery.cookie.js"></script>
        <script src="/javascript/bootstrap.min.js"></script>
        <script src="/javascript/global.js"></script>
        <style type="text/css" title="currentStyle">
          @import "/css/bootstrap.min.css";
          @import "/css/global.css";
        </style>
        <style>
        #display {
          height: 600px;
          margin-top: 25px;
          width: 1200px;
        }
        #game-canvas {
          background: #000;
          width: 100%;
          height: 100%;
        }
        </style>
        <title><%= title %></title>
    </head>
    <body>
        <div id="display" class="container">
            <canvas id="game-canvas"></canvas>
        </div>
    </body>
</html>