<html>
    <head>
        <script src="/socket.io/socket.io.js"></script>        
        <script src="/javascript/jquery-1.10.1.js"></script>
        <script src="/javascript/jquery.cookie.js"></script>
        <script src="/javascript/bootstrap.min.js"></script>
        <script src="/javascript/global.js"></script>
        
        <script src="/javascript/controllers/Mode.js"></script>
        <script src="/javascript/controllers/ClientGameSession.js"></script>
        
        <style type="text/css" title="currentStyle">
          @import "/css/bootstrap.min.css";
          @import "/css/global.css";
        </style>
        <style>
        #display {
          height: 600px;
          margin-top: 25px;
          width: 1200px;
        }
        #game-canvas {
          background: rgba(256, 256, 256, 256);
        }
        </style>
        
        <script>
            $( function() {
            
                startSession();
            });
        </script>
        
        <title><%= title %></title>
    </head>
    <body>
        <div id="display" class="container">
            <canvas id="game-canvas" width="1200" height="600"></canvas>
        </div>
    </body>
</html>