<html>
  <head>
    <title>Project Solstice</title>
    <link rel="stylesheet" href="/css/global.css" />
  </head>
  <body>
    <div class="container">
      <h1>Project Solstice</h1>
      <hr>
      <p><%= phrase %></p>
      <br><br>
      <a href="/about">About</a>
    </div>
  </body>
</html>