<html>
    <head>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/javascript/controllers/TitleMode.js"></script>
        <script src="/javascript/controllers/ClientGameSession.js"></script>
        
        <script src="/javascript/jquery-1.10.1.js"></script>
        <script src="/javascript/jquery.cookie.js"></script>
        <script src="/javascript/bootstrap.min.js"></script>
        <script src="/javascript/global.js"></script>
        <style type="text/css" title="currentStyle">
          @import "/css/bootstrap.min.css";
          @import "/css/global.css";
        </style>
        <title>Cicero - New Character</title>
    </head>
    <body>
    </body>
</html>