body {
  //background-image: -webkit-linear-gradient(top, #77c7eb, #4bb5e4);
  background: #fafafa;
  color: #333;
}

#wrapper {
  border-top: none;
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  width: 800px;
}

#wrapper:after {
  clear: both;
  display: table;
  content: "";
}

.container {
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 1px solid #000;
  border-radius: 1px;
  font-family: Ubuntu, sans-serif, monospace;
  //display: inline-block;
  width: auto;
}

.heading {
  clear: both;
  font-family: "Open Sans", sans-serif, monospace;
  font-size: 48px;
  font-variant: small-caps;
  height: 1em;
  width: 800px;
  padding-top: .5em;
  text-align: center;
}
            
input.wide {
  height: 50px;
  width: 300px;
  padding-left: 15px;
  line-height: 24px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
}