body {
  background-image: -webkit-linear-gradient(top, #77c7eb, #4bb5e4);
}

.container {
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,.1), rgba(0,0,0,0));
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-radius: 5px;
  display: inline-block;
}

#wrapper {
  background: rgba(0,0,0,.1);
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  color: #eee;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  width: 800px;
}

#wrapper:after {
  clear: both;
  display: table;
  content: "";
}

.heading {
  color: #eee;
  font-family: "Calibri", sans-serif, monospace;
  font-size: 94px;
  font-style: oblique;
  font-variant: small-caps;
  height: 100px;
  width: 800px;
  
  border-top: #eee solid 1px;
  border-left: #eee solid 1px;
  border-right: #eee solid 1px;
  border-radius: 5px;
  
  padding-top: .5em;
}
            
input.wide {
  height: 50px;
  width: 300px;
  padding-left: 15px;
  line-height: 24px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
}